# RENAME ME TO terraform.tfvars or *.auto.tfvars

subscription_id = ""

client_id       = ""

client_secret   = ""

tenant_id       = ""

foundation_resource_group  = "storage-static-test-rg"

appgw_resource_group = ""

deployment_region = "westeurope"

public_ip_dns_name = "mogav2"

dns_zone_name = "myportal.com"

public_dns_record = "www"

key_vault_name = "moga-appgw-kv"

user_managed_identity = "app-gw-static-ww-prod-rg"
